.div{
    position:absolute;
    bottom:100;
    left:100;
    opacity:0;
}

h1,h2 :hover{
    opacity:1;
}

.item{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

a:link{
    color:red;
}

